# Ignore everything
*

# Include git repo information
!.gitignore
!.gitignore.global
!.gitmodules
!.gitconfig
!.git-completion.bash

# Include vim profile
!.vim
!.vim/**
.vim/%*.sw*
.vim/spell/**
.vim/cache/**
.vim/.netrwhist
!.vimrc

# Include bash profile
!.bashrc
!.bash_aliases
!.profile
!.inputrc

# Include tmux profile
!.tmux.conf

# Include IPython profile
!.ipython/
.ipython/*
!.ipython/profile_default/
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.py

# Include alacritty terminal profile
!.alacritty.yml
!.alacritty-colorscheme
!.alacritty-colorscheme/**

# Include chosen files in the .config dir.
!.config
.config/*
!.config/git
!.config/git/**
