### Vim navigation and efficiency

[submodule "vim-easymotion"]
    path = .vim/bundle/vim-easymotion
    url = https://github.com/easymotion/vim-easymotion.git
	branch = "v3.0.1"

[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
	branch = master

[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
	branch = "1.81"

[submodule ".vim/bundle/vim-bookmarks"]
	path = .vim/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
	branch = "1.3.0"

[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
	branch = "1.0.9"

# TODO: Is this a dependency that I need, or can I remove it?
[submodule "vim-misc"]
    path = .vim/bundle/vim-misc
    url = https://github.com/xolox/vim-misc.git
	branch = "1.17.6"

[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git

### Vim git integration

[submodule "vim-fugitive"]
    path = .vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
	branch = "v3.6"

### Vim languages

[submodule "vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
	branch = "v1.26"

[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = "v4.17.1"

[submodule ".config/nvim/bundle/coc.nvim"]
	path = .config/nvim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release

[submodule ".config/nvim/bundle/coc-fzf"]
	path = .config/nvim/bundle/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf.git
	branch = release

[submodule ".config/nvim/pack/github/start/copilot.vim"]
	path = .config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim

### Themes

[submodule ".alacritty-colorscheme"]
	path = .alacritty-colorscheme
	url = https://github.com/alacritty/alacritty-theme.git

### Tools

[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
	branch = release-v0.11.0

[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
	branch = "0.40.0"
