[core]
    excludesfile = "~/.gitignore.global"
    pager = delta

[advice]
    detachedHead = false

[alias]
    st = status
    ci = commit -v
    co = checkout
    br = branch
    mt = mergetool

    last = log -1 HEAD
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    staged = diff --staged
    push-init = !git push --set-upstream origin $(git branch --show-current)
    scrub = clean -Xdi
    diff-branch = !git log --oneline --graph --decorate --left-right --cherry-mark --no-merges --date=relative HEAD...$1
    current-branch = rev-parse --abbrev-ref HEAD
    tree = ls-tree -r HEAD

[checkout]
    # When running `git checkout <branch>` do not automatically create a tracking branch for the
    # remote branch with a matching name.
    guess = false

[delta]
    line-numbers = true

[diff]
    colorMoved = default

[fetch]
    prune = true

[remote "origin"]
#    fetch = "+HEAD:refs/remotes/origin/HEAD"

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    tool = nvimdiff
    layout = "(LOCAL,BASE,REMOTE)/MERGED"

[user]
	name = Victor Graf
	email = victor@subgraf.dev

[credential]
	helper = cache

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
