# Ignore everything
*

# Include git repo information
!.gitignore
!.gitmodules
!.gitconfig

# Include vim profile
!.vim
!.vim/**
.vim/cache/**
.vim/.netrwhist
!.vimrc

# Include bash profile
!.bashrc
!.profile
!.inputrc

# Include tmux profile
!.tmux.conf

# Include IPython profile
!.ipython/
.ipython/*
!.ipython/profile_default/
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.py
